<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.Sensor_ByteMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.Sensor_Byte">
        <result column="sensor_messageId" jdbcType="INTEGER" property="sensor_messageId" />
        <result column="userId" jdbcType="INTEGER" property="userId" />
        <result column="taskId" jdbcType="INTEGER" property="taskId" />
        <result column="onlineTime" jdbcType="DATE" property="onlineTime" />
        <result column="fileByte" jdbcType="VARCHAR" property="fileByte" />
        <result column="temp1" jdbcType="VARCHAR" property="temp1" />
        <result column="temp2" jdbcType="VARCHAR" property="temp2" />
        <result column="temp3" jdbcType="VARCHAR" property="temp3" />
        <result column="temp4" jdbcType="VARCHAR" property="temp4" />

    </resultMap>


<!--    //20200514   Upload sensor data (json data + file) to sensor data table-->
    <insert id="addfilebyte" parameterType="com.example.entity.Sensor_Byte" useGeneratedKeys="true" keyProperty="sensor_messageId">
        insert into sensor_byte (sensor_messageId,userId, taskId, onlineTime, fileByte,temp1,temp2,temp3,temp4)
        values ( #{sensor_messageId,jdbcType=INTEGER},#{userId,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER},
                #{onlineTime},#{fileByte,jdbcType=VARCHAR},#{temp1,jdbcType=VARCHAR},
                #{temp2,jdbcType=VARCHAR},#{temp3,jdbcType=VARCHAR},#{temp4,jdbcType=VARCHAR})
    </insert>

    <!--20200514 Find the latest id, which is the largest auto-incrementing primary key-->
    <select id="getMaxId"  resultType="com.example.entity.Sensor_Byte">
        select * from sensor_byte order by sensor_byte.sensor_messageId desc limit 0,1
    </select>


    <!--20200515  Return a List of the entire sensor data according to the userId and taskId of the task  -->
    <select id="selSensor_Byte"  resultType="com.example.entity.Sensor_Byte" parameterType="com.example.entity.Sensor_Byte">
        select * from sensor_byte where userId = #{userId} and taskId = #{taskId}
    </select>











</mapper>